# **Python Tuples**

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
t = ("apple", "banana", "cherry", "mango", "guava")
print(t)
print(type(t))

('apple', 'banana', 'cherry', 'mango', 'guava')
<class 'tuple'>

**Tuple Items :-**                     

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**

Since tuples are indexed, they can have items with the same value:

In [2]:
t = ("apple", "banana", "cherry", "mango", "guava", "apple")
print(t)

('apple', 'banana', 'cherry', 'mango', 'guava', 'apple')

**Tuple Length**

To determine how many items a tuple has, use the len() function:

In [3]:
t = ("apple", "banana", "cherry", "mango", "guava", "apple")
print(len(t))

6

**Create Tuple With One Item**

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [5]:
#One item tuple, remember the comma:

t = ("apple",)
print(t)
print(type(t))

('apple',)
<class 'tuple'>

In [6]:
#NOT a tuple

t = ("apple")
print(t)
print(type(t))

apple
<class 'str'>

**Tuple Items - Data Types**

Tuple items can be of any data type:

In [7]:
t = ("apple", "banana", "cherry")
t1 = (1,5,9,7,5,3)
t2 = (True, False, False, True)
print(t)
print(t1)
print(t2)

('apple', 'banana', 'cherry')
(1, 5, 9, 7, 5, 3)
(True, False, False, True)

In [8]:
# A tuple with strings, integers and boolean values:

t = ("abc", 34, True, 40, "male")
print(t)

('abc', 34, True, 40, 'male')

**type()**

From Python's perspective, tuples are defined as objects with the data type 'tuple':

In [9]:
t = ("apple", "banana", "cherry")
print(type(t))

<class 'tuple'>

**The tuple() Constructor**

It is also possible to use the tuple() constructor to make a tuple.

In [10]:
t = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(t)
print(type(t))

('apple', 'banana', 'cherry')
<class 'tuple'>

# **Python Collections (Arrays)**

There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
   
**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

**Dictionary** is a collection which is ordered** and changeable. No duplicate members.

***Set** items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

# **Access Tuple Items**

**Access Tuple Items**

You can access tuple items by referring to the index number, inside square brackets:

In [11]:
t = ("apple", "banana", "cherry", "mango", "guava")
print(t[3]) #The first item has index 0.

mango

**Negative Indexing**

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [12]:
t = ("apple", "banana", "cherry", "mango", "guava")
print(t[-1])

guava

**Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [13]:
t = ("apple", "banana", "cherry", "mango", "guava", "pineapple", "orange")
print(t[2:5]) # Return the third, fourth, and fifth item

('cherry', 'mango', 'guava')

In [14]:
# By leaving out the start value, the range will start at the first item:

t = ("apple", "banana", "cherry", "mango", "guava", "pineapple", "orange")
print(t[:4]) #This example returns the items from the beginning to, but NOT included, "guava"

('apple', 'banana', 'cherry', 'mango')

In [15]:
# By leaving out the end value, the range will go on to the end of the tuple:

t = ("apple", "banana", "cherry", "mango", "guava", "pineapple", "orange")
print(t[2:]) #This example returns the items from "cherry" and to the end

('cherry', 'mango', 'guava', 'pineapple', 'orange')

**Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the tuple:

In [16]:
t = ("apple", "banana", "cherry", "mango", "guava", "pineapple", "orange")
print(t[-4:-1]) #This example returns the items from index -4 (included) to index -1 (excluded

('mango', 'guava', 'pineapple')

**Check if Item Exists**

To determine if a specified item is present in a tuple use the in keyword:

In [24]:
t = ("apple", "banana", "cherry", "mango", "guava", "pineapple", "orange")
if "apple" in t:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# **Update Tuples**

**Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [25]:
# Convert the tuple into a list to be able to change it:

t = ("apple", "banana", "cherry")
y = list(t)
y[1] = "kiwi"
t = tuple(y)

print(t)

('apple', 'kiwi', 'cherry')

**Add Items**

Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [27]:
t = ("apple","banana", "cherry")
y = list(t)
y.append("orange")
t = tuple(y)

print(t)

('apple', 'banana', 'cherry', 'orange')

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [28]:
t = ("apple", "banana", "cherry")
y = ("orange")
y = (y,)
t += y
print(t)

('apple', 'banana', 'cherry', 'orange')

**Remove Items**

Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [29]:
t = ("apple", "banana", "cherry")
y = list(t)
y.remove("apple")
t = tuple(y)
print(t)

('banana', 'cherry')

In [31]:
# The del keyword can delete the tuple completely:

tuple = ("apple", "banana", "cherry")
del tuple
print(tuple) #this will raise an error because the tuple no longer exists

<class 'tuple'>

# **Unpack Tuples**

**Unpacking a Tuple**

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [33]:
# Packing a tuple:

fruit = ("apple", "banana", "cherry")

# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":
# Unpacking a tuple:

fruit = ("apple", "banana", "cherry")

(green, yellow, red) = fruit

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Using Asterisk***

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [34]:
# Assign the rest of the values as a list called "red":

t = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = t

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [35]:
# Add a list of values the "tropic" variable:
t = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = t

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# **Loop Tuples**

**Loop Through a Tuple**

You can loop through the tuple items by using a for loop.

In [36]:
# Iterate through the items and print the values:

t = ("apple", "banana", "cherry")
for x in t:
  print(x)

apple
banana
cherry

**Loop Through the Index Numbers**

You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [38]:
# Print all items by referring to their index number:

t = ("apple", "banana", "cherry")
for i in range (len(t)):
  print(t[i])

apple
banana
cherry

**Using a While Loop**

You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [39]:
# Print all items, using a while loop to go through all the index numbers:

t = ("apple", "banana", "cherry")
i = 0
while i < len(t):
  print(t[i])
  i = i + 1

apple
banana
cherry

# **Join Tuples**

**Join Two Tuples**

To join two or more tuples you can use the + operator:

In [40]:
t = ("apple", "banana", "cherry")
t1 = (1,5,9,7,5,3)
t2 = t + t1
print(t2)

('apple', 'banana', 'cherry', 1, 5, 9, 7, 5, 3)

**Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [41]:
# Multiply the fruits tuple by 2:

t = ("apple", "banana", "cherry")
t1 = t * 2

print(t1)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# **Tuple Methods**

Python has two built-in methods that you can use on tuples.

**count()**	- Returns the number of times a specified value occurs in a tuple.   
**index()**	- Searches the tuple for a specified value and returns the position of where it was found

Other -                                                                          
Min(),                                                                         
max(),                                                                        
sum()

In [42]:
t = (1,5,9,7,5,3)
print(t.count(5)) #  how many times 5 numbers.

2

In [48]:
t = (10,20,30,40,50)
i = t.index(50)  # Index  number of 50.
print(i)

4

In [43]:
t = (10,20,30,40,50)
m = min(t)  # Minimum Number.
print(m)

10

In [44]:
t = (10,20,30,40,50)
m = max(t)  # Maximum Number.
print(m)

50

In [45]:
t = (10,20,30,40,50)
m = sum(t)  # Sum of all numbers.
print(m)

150

In [47]:
t = (10,20,30,40,50)
m = sum(t, 50)  # Sum of all numbers.
print(m)

200