# **Python Data Types**

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type : 	str

Numeric Types : 	int, float, complex

Sequence Types : 	list, tuple, range

Mapping Type : 	dict

Set Types : 	set, frozenset

Boolean Type : 	bool

Binary Types : 	bytes, bytearray, memoryview

None Type : 	NoneType

# **Getting the Data Type**

You can get the data type of any object by using the type() function:

In [1]:
x = 10
print(type(x))  # Print the data type of the variable x

<class 'int'>

# **Setting the Data Type**

The data type is set when you assign a value to a variable:

In [2]:
x = "Hello World"
print(type(x))

<class 'str'>

In [3]:
x = 10
print(type(x))

<class 'int'>

In [4]:
x = 20.5
print(type(x))

<class 'float'>

In [5]:
x = 1j
print(type(x))

<class 'complex'>

In [6]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [7]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [8]:
x = range(6)
print(type(x))

<class 'range'>

In [9]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [11]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [12]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [13]:
x = True
print(type(x))

<class 'bool'>

In [14]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [15]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [16]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [17]:
x = None
print(type(x))

<class 'NoneType'>

# **Setting the Specific Data Type**

If you want to specify the data type, you can use the following constructor functions:

In [18]:
x = str("Hello World")
print(type(x))

<class 'str'>

In [19]:
x = int(20)
print(type(x))

<class 'int'>

In [20]:
x = float(20.5)
print(type(x))

<class 'float'>

In [21]:
x = complex(1j)
print(type(x))

<class 'complex'>

In [22]:
x = list(("apple", "banana", "cherry"))
print(type(x))

<class 'list'>

In [23]:
x = tuple(("apple", "banana", "cherry"))
print(type(x))

<class 'tuple'>

In [24]:
x = range(6)
print(type(x))

<class 'range'>

In [25]:
x = dict(name="John", age=36)
print(type(x))

<class 'dict'>

In [26]:
x = set(("apple", "banana", "cherry"))
print(type(x))

<class 'set'>

In [27]:
x = frozenset(("apple", "banana", "cherry"))
print(type(x))

<class 'frozenset'>

In [28]:
x = bool(5)
print(type(x))

<class 'bool'>

In [29]:
x = bytes(5)
print(type(x))

<class 'bytes'>

In [30]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [31]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

# **Python Numbers**

Python Numbers

There are three numeric types in Python:
*   int
*   float
*   complex

Variables of numeric types are created when you assign a value to them:

In [32]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [33]:
x = 1
y = 1213154564655
z = -123456789

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [34]:
x = 1.0
y = 1.5
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [35]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

Complex numbers are written with a "j" as the imaginary part:

In [36]:
x = 8+5j
y = -5j
z = 10j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

In [40]:
# Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex      Note: You cannot convert complex numbers into another number type.


#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [44]:
# Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

8

# **Python Casting**

**Specify a Variable Type**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [47]:
# Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [48]:
# Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [45]:
# Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0