# **Python String Formatting**

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

Before Python 3.6 we had to use the format() method.

# **F-Strings**

F-string allows you to format selected parts of a string.

To specify a string as an f-string, simply put an f in front of the string literal, like this:

In [ ]:
# Create an f-string:

name = "Alok"

print(f"Hello {name}")

Hello Alok

# **Placeholders and Modifiers**

To format values in an f-string, add placeholders {}, a placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
# Add a placeholder for the price variable:

name = "Alok"
age = 11

print(f"Hello {name}, you are {age} years old.")

Hello Alok, you are 11 years old.

A placeholder can also include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [ ]:
# Display the price with 2 decimals:

price = 49
print(f"price : ${price:.2f}")

price : $49.00

You can also format a value directly without keeping it in a variable:

In [ ]:
# Display the value 95 with 2 decimals:

print(f"The price is ${95:.2f} dollars")

The price is $95.00 dollars

# **Perform Operations in F-Strings**

You can perform Python operations inside the placeholders.

You can do math operations:

In [ ]:
# Perform a math operation in the placeholder, and return the result:

print(f"The Price is {20 * 25} dollars")

The Price is 500 dollars

You can perform math operations on variables:

In [ ]:
# Add taxes before displaying the price:

price = 59
tax = 0.25

print(f"The price is {price +(price * tax)} dollars")

The price is 73.75 dollars

You can perform if...else statements inside the placeholders:

In [ ]:
# Return "Expensive" if the price is over 50, otherwise return "Cheap":

price = 52

print(f"It is a {'Expensive' if price > 50 else 'Cheap'}")

It is a Expensive

# **Execute Functions in F-Strings**

You can execute functions inside the placeholder:

In [ ]:
# Use the string method upper()to convert a value into upper case letters:

fruit = "apples"

print(f" i Love {fruit.upper()}")

 i Love APPLES

The function does not have to be a built-in Python method, you can create your own functions and use them:

In [ ]:
# Create a function that converts feet into meters:

def myconverter(x):
  return x * 0.3048

print(f"The plane is flying at a {myconverter(30000)} meter altitude")

The plane is flying at a 9144.0 meter altitude

# **More Modifiers**

At the beginning of this chapter we explained how to use the .2f modifier to format a number into a fixed point number with 2 decimals.

There are several other modifiers that can be used to format values:

In [ ]:
# Use a comma as a thousand separator:

price = 50500

print(f"The Price is ${price:,}")

The Price is $50,500

In [1]:
# :<  Left aligns the result (within the available space)

print(f"we have {50:<5}apples")

we have 50   apples

In [3]:
# :> 	 Right aligns the result (within the available space)

print(f"we have {50:>1}apples")

we have 50apples

In [4]:
# :^ 	Center aligns the result (within the available space)

print(f"we have {50:^1}apples")

we have 50apples

In [5]:
# := 	Places the sign to the left most position

print(f"The price is {50:=10}")

The price is         50

In [6]:
# :+ 	Use a plus sign to indicate if the result is positive or negative

print(f"The price is {50:+10}")

The price is        +50

In [7]:
# :- 	Use a minus sign for negative values only

print(f"The price is {50:-10}")

The price is         50

In [8]:
# :  	Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)

print(f"The price is {50: 10}")

The price is         50

In [9]:
# :, 	Use a comma as a thousand separator

print(f"The price is {5000000:,}")

The price is 5,000,000

In [10]:
# :_ 	Use a underscore as a thousand separator

print(f"The price is {5000000:_}")

The price is 5_000_000

In [11]:
# :b 	Binary format

print(f"The price is {5000000:b}")

The price is 10011000100101101000000

In [12]:
# :c 		Converts the value into the corresponding Unicode character

print(f"The price is {5000000:c}")

OverflowError: %c arg not in range(0x110000)

Replaced 5000000 with 97: Instead of using 5000000, which is outside the valid Unicode range, the code now uses 97. This value corresponds to the lowercase letter 'a' in Unicode. You can replace 97 with any other valid Unicode code point.

In [13]:
# :c 		Converts the value into the corresponding Unicode character

# Use a valid Unicode code point within the range 0-0x10FFFF
print(f"The price is {97:c}")  # Example using code point 97, which represents 'a'

The price is a

In [14]:
# :d 	Decimal format

print(f"The price is {5000000:d}")

The price is 5000000

In [15]:
# :e 	Scientific format, with a lower case e

print(f"The price is {5000000:e}")

The price is 5.000000e+06

In [16]:
# :E 	Scientific format, with an upper case E

print(f"The price is {5000000:E}")

The price is 5.000000E+06

In [17]:
# :f 	Fix point number format

print(f"The price is {5000000:f}")

The price is 5000000.000000

In [18]:
# :F 	Fix point number format, in uppercase format (show inf and nan as INF and NAN)

print(f"The price is {5000000:F}")

The price is 5000000.000000

In [19]:
# :g 		General format

print(f"The price is {5000000:g}")

The price is 5e+06

In [20]:
# :G 		General format (using a upper case E for scientific notations)

print(f"The price is {5000000:G}")

The price is 5E+06

In [21]:
# :o 	Octal format

print(f"The price is {5000000:o}")

The price is 23045500

In [22]:
# :x 	Hex format, lower case

print(f"The price is {5000000:x}")

The price is 4c4b40

In [23]:
# :X 	Hex format, upper case

print(f"The price is {5000000:X}")

The price is 4C4B40

In [24]:
# :n 		Number format

print(f"The price is {5000000:n}")

The price is 5000000

In [26]:
# :% 	Percentage format

print(f"The price is {5000:%}")

The price is 500000.000000%

# **String format()**

Before Python 3.6 we used the format() method to format strings.

The format() method can still be used, but f-strings are faster and the preferred way to format strings.

The next examples in this page demonstrates how to format strings with the format() method.

The format() method also uses curly brackets as placeholders {}, but the syntax is slightly different:

In [27]:
# Add a placeholder where you want to display the price:

price = 50

print("The price is {}".format(price))

The price is 50

In [28]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

You can add parameters inside the curly brackets to specify how to convert the value:

In [29]:
# Format the price to be displayed as a number with two decimals:

print("The price is {:.2f}dollars ")

The price is {:.2f}dollars

# **Multiple Values**

If you want to use more values, just add more values to the format() method:

In [33]:
# And add more placeholders:

quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

# **Index Numbers**

You can use index numbers (a number inside the curly brackets {0}) to be sure the values are placed in the correct placeholders:

In [34]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

Also, if you want to refer to the same value more than once, use the index number:

In [35]:
age = 30
name = "Raj"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is Raj. Raj is 30 years old.

# **Named Indexes**

You can also use named indexes by entering a name inside the curly brackets {carname}, but then you must use names when you pass the parameter values txt.format(carname = "Ford"):

In [36]:
myorder = "I have a {carname}, it is a {model}."

print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.