# **Python Sets**

**Set**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [2]:
# Note: Sets are unordered, so you cannot be sure in which order the items will appear.

set = {"Aryan", "Kabir", "Raj", "Paul"}
print(set)

{'Paul', 'Kabir', 'Aryan', 'Raj'}

**Set Items**

Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

**Duplicates Not Allowed**

Sets cannot have two items with the same value.

In [4]:
# Duplicate values will be ignored:
set = {"Aryan", "Kabir", "Raj", "Paul", "Aryan"}
print(set)

{'Paul', 'Kabir', 'Aryan', 'Raj'}

In [5]:
# Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

set = {"Aryan", "Kabir", "Raj", "Paul", True, 1, 2} #True and 1 is considered the same value.
print(set)

{'Kabir', 2, True, 'Raj', 'Paul', 'Aryan'}

In [6]:
# False and 0 is considered the same value:

set = {"Aryan", "Kabir", "Raj", "Paul", False, 0, 1}
print(set)

{False, 'Kabir', 1, 'Raj', 'Paul', 'Aryan'}

**Get the Length of a Set**

To determine how many items a set has, use the len() function.

In [7]:
# Get the number of items in a set:

set = {"Aryan", "Kabir", "Raj", "Paul"}
print(len(set))

4

**Data Types**

Set items can be of any data type:

In [8]:
# String, int and boolean data types:
set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'Paul', 'Kabir', 'Aryan', 'Raj'}
{1, 3, 5, 7, 9}
{False, True}

In [9]:
# A set can contain different data types:

set1 = {"abc", 34, True, 40, "male"}  # A set with strings, integers and boolean values.
print(set1)

{True, 34, 40, 'abc', 'male'}

**type()**

From Python's perspective, sets are defined as objects with the data type 'set':

In [10]:
set = {"Aryan", "Kabir", "Raj", "Paul"}
print(type(set))

<class 'set'>

# **Access Set Items**

**Access Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a **for** loop, or ask if a specified value is present in a set, by using the **in** keyword.

In [14]:
set = {"Aryan", "Kabir", "Raj", "Paul"}
for x in set:
  print(x)

Paul
Kabir
Aryan
Raj

In [15]:
set = {"Aryan", "Kabir", "Raj", "Paul"} # Check if "Aryan" is present in the set:
print("Aryan" in set)

True

In [16]:
set = {"Aryan", "Kabir", "Raj", "Paul"} # Check if "Aryan" is NOT present in the set:
print("Aryan" not in set)

False

# **Add Set Items**


**Add Items**

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the **add()** method.

In [17]:
# Add an item to a set, using the add() method:

set = {"Aryan", "Kabir", "Raj", "Paul"}
set.add("Jessi")
print(set)

{'Kabir', 'Jessi', 'Paul', 'Raj', 'Aryan'}

**Add Sets**

To add items from another set into the current set, use the **update()** method.

In [18]:
set = {"Aryan", "Kabir", "Raj", "Paul"}
set1 = {"Jessi", "John"}
set.update(set1)
print(set)

{'Kabir', 'John', 'Raj', 'Paul', 'Aryan', 'Jessi'}

**Add Any Iterable**

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [19]:
set = {"Aryan", "Kabir", "Raj", "Paul"}
list = ["Jessi", "John"]
set.update(list)
print(set)

{'Kabir', 'Jessi', 'Paul', 'Raj', 'John', 'Aryan'}

# **Remove Set Items**

**Remove Item**

To remove an item in a set, use the **remove()**, or the **discard()** method.

In [20]:
set = {"Aryan", "Kabir", "Raj", "Paul"}
set.remove("Paul")
print(set)

{'Kabir', 'Aryan', 'Raj'}

In [21]:
set = {"Aryan", "Kabir", "Raj", "Paul"}
set.discard("Paul")
print(set)

{'Kabir', 'Aryan', 'Raj'}

**pop()**

You can also use the **pop()** method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the **pop()** method is the removed item.

In [22]:
# Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

set = {"Aryan", "Kabir", "Raj", "Paul"}
x = set.pop()
print(x)
print(set)

Paul
{'Kabir', 'Aryan', 'Raj'}

In [23]:
# The clear() method empties the set.

set = {"Aryan", "Kabir", "Raj", "Paul"}
set.clear()
print(set)

set()

In [24]:
# The del keyword will delete the set completely.

set = {"Aryan", "Kabir", "Raj", "Paul"}
del set
print(set)

<class 'set'>

# **Loop Sets**

You can loop through the set items by using a for loop.

In [25]:
set = {"Aryan", "Kabir", "Raj", "Paul"}
for x in set:
  print(x)

Paul
Kabir
Aryan
Raj

# **Join Sets**

**Join Sets**

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

**Union()**

The union() method returns a new set with all items from both sets.

In [26]:
set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {1, 5, 7, 9, 3}
set3 = set1.union(set2)
print(set3)

{'Kabir', 1, 3, 5, 'Raj', 'Paul', 7, 9, 'Aryan'}

You can use the | operator instead of the union() method, and you will get the same result.

In [27]:
set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {1, 5, 7, 9, 3}
set3 = set1 | set2    # Use | to join two sets.
print(set3)

{'Kabir', 1, 3, 5, 'Raj', 'Paul', 7, 9, 'Aryan'}

**Join Multiple Sets**

All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [28]:
set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = set1.union(set2, set3)
print(set4)

{False, 'Kabir', 1, 3, 5, 'Raj', 'Paul', 7, 9, 'Aryan'}

When using the | operator, separate the sets with more | operators:

In [29]:
# Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.


set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = set1 | set2 | set3     # Use | to join two sets.
print(set4)

{False, 'Kabir', 1, 3, 5, 'Raj', 'Paul', 7, 9, 'Aryan'}

**Join a Set and a Tuple**

The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [30]:
x = {"apple", "banana", "cherry"}
y = ("kiwi", "orange")
z = x.union(y)    # Join a set with a tuple.
print(z)
print(type(z))

{'apple', 'orange', 'cherry', 'banana', 'kiwi'}
<class 'set'>

**Update**

The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [1]:
# The update() method inserts the items in set2 into set1:

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {1, 5, 7, 9, 3}
set1.update(set2)
print(set1)

{1, 3, 5, 7, 9, 'Paul', 'Raj', 'Kabir', 'Aryan'}

**Intersection**

Keep ONLY the duplicates

The **intersection()** method will return a new set, that only contains the items that are present in both sets.

In [2]:
# Join set1 and set2, but keep only the duplicates:

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set3 = set1.intersection(set2)
print(set3)

{'Raj', 'Aryan', 'Paul'}

In [3]:
# You can use the & operator instead of the intersection() method, and you will get the same result.
# Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set3 = set1 & set2    # Use & to join two sets.
print(set3)

{'Raj', 'Aryan', 'Paul'}

In [4]:
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set1.intersection_update(set2)
print(set1)

{'Raj', 'Aryan', 'Paul'}

The values True and 1 are considered the same value. The same goes for False and 0.

In [8]:
# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"Aryan", "Kabir", "Raj", "Paul", True, 1, 2}
set2 = {"Aryan", "John", "Raj", "Paul", False, 0, 1}
set3 = set1.intersection(set2)
print(set3)

{1, 'Raj', 'Aryan', 'Paul'}

**Difference**

The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [9]:
# Keep all items from set1 that are not in set2:

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set3 = set1.difference(set2)
print(set3)

{'Kabir'}

In [10]:
# You can use the - operator instead of the difference() method, and you will get the same result.

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set3 = set1 - set2    # Use - to join two sets.
print(set3)

{'Kabir'}

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [11]:
set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set1.difference_update(set2)
print(set1)

{'Kabir'}

**Symmetric Differences**

The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [12]:
# Keep the items that are not present in both sets:

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'Kabir', 'John'}

In [13]:
# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set3 = set1 ^ set2    # Use ^ to join two sets.
print(set3)

{'Kabir', 'John'}

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [15]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"Aryan", "Kabir", "Raj", "Paul"}
set2 = {"Aryan", "John", "Raj", "Paul"}
set1.symmetric_difference_update(set2)
print(set1)

{'Kabir', 'John'}

# **Set Methods**

**Set Methods**

Python has a set of built-in methods that you can use on sets.

add() 	Adds an element to the set.                                         
clear() 	Removes all the elements from the set.                            
copy() 	Returns a copy of the set.                                            
difference() 	- 	Returns a set containing the difference between two or more sets.                                                                           
difference_update() 	-= 	Removes the items in this set that are also included in another, specified set.                                                      
discard() 	  	Remove the specified item.                                     
intersection() 	& 	Returns a set, that is the intersection of two other sets.   
intersection_update() 	&= 	Removes the items in this set that are not present in other, specified set(s).                                              
isdisjoint() 	  	Returns whether two sets have a intersection or not.           
issubset() 	<= 	Returns whether another set contains this set or not.            
< 	Returns whether all items in this set is present in other, specified set(s).                                                                         
issuperset() 	>= 	Returns whether this set contains another set or not.          
(>) Returns whether all items in other, specified set(s) is present in this set.

pop() 	  	Removes an element from the set.                                    
remove() 	  	Removes the specified element.                                     
symmetric_difference() 	^ 	Returns a set with the symmetric differences of two sets.                                                                            
symmetric_difference_update() 	^= 	Inserts the symmetric differences from this set and another.                                                                 
union() 	| 	Return a set containing the union of sets.                         
update() 	|= 	Update the set with the union of this set and others.