*Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.*

# **Arrays**

*Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the NumPy library.*

Arrays are used to store multiple values in one single variable:

In [3]:
# Create an array containing car names:

cars = ["Ford", "Hyundai", "Tata", "Honda"]

What is an Array?

An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:                              
car1 = "Ford"                                                         
car2 = "Hyundai"                                                 
car3 = "Tata"                                                         
car4 = "Honda"

However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

# **Access the Elements of an Array**

You refer to an array element by referring to the index number.

In [5]:
# Get the value of the first array item:

x = cars[0]
x

'Ford'

In [6]:
# Modify the value of the first array item:

cars[0] = "Toyota"
cars

['Toyota', 'Hyundai', 'Tata', 'Honda']

# **The Length of an Array**

Use the len() method to return the length of an array (the number of elements in an array).

In [7]:
# Return the number of elements in the cars array:

len(cars)

# Or

# x = len(cars)

4

*Note: The length of an array is always one more than the highest array index.*

# **Looping Array Elements**

You can use the for in loop to loop through all the elements of an array.

In [8]:
# Print each item in the cars array:

for i in range(len(cars)):
    print(cars[i])

Toyota
Hyundai
Tata
Honda

In [10]:
for x in cars:
  print(x)

Toyota
Hyundai
Tata
Honda

# **Adding Array Elements**

You can use the append() method to add an element to an array.

In [11]:
# Add one more element to the cars array:

cars.append("BMW")
cars

['Toyota', 'Hyundai', 'Tata', 'Honda', 'BMW']

# **Removing Array Elements**

You can use the pop() method to remove an element from the array.

In [12]:
# Delete the second element of the cars array:

cars.pop(1)
cars

['Toyota', 'Tata', 'Honda', 'BMW']

You can also use the remove() method to remove an element from the array.

In [14]:
# Delete the element that has the value "BMW":

cars.remove("BMW")
cars

['Toyota', 'Tata', 'Honda']



*Note: The list's remove() method only removes the first occurrence of the specified value.*

# **Array Methods**

Python has a set of built-in methods that you can use on lists/arrays.

Method     -  - - - - - -              	Description                            

append()	            Adds an element at the end of the list

clear()	               Removes all the elements from the list

copy()	               Returns a copy of the list

count()	               Returns the number of elements with the specified value

extend()	        Add the elements of a list (or any iterable), to the end of the current list

index()	               Returns the index of the first element with the specified value

insert()	             Adds an element at the specified position

pop()	                 Removes the element at the specified position

remove()	             Removes the first item with the specified value

reverse()	             Reverses the order of the list

sort()	               Sorts the list