Python Dates

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [2]:
# Import the datetime module and display the current date:

import datetime

x = datetime.datetime.now()
print(x)

2025-01-23 11:20:50.354947

In [3]:
# Return the year and name of weekday:

import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2025
Thursday

# **Creating Date Objects**

To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

In [6]:
# Create a date object:

import datetime

x = datetime.datetime(2021, 11, 21)
print(x)

2021-11-21 00:00:00

The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

# **The strftime() Method**

The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [7]:
# Display the name of the month:

import datetime

x = datetime.datetime(2021, 11, 21)

print(x.strftime("%B"))

November

# **A reference of all the legal format codes:**

In [8]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%a")) #  	Weekday, short version

Thu

In [9]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%A")) # Weekday, full version

Thursday

In [10]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%w")) # Weekday as a number 0-6, 0 is Sunday

4

In [11]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%d")) # Day of month 01-31

23

In [12]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%b")) # Month name, short version

Jan

In [13]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%B")) # Month name, full version

January

In [14]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%m")) # Month as a number 01-12

01

In [15]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%y")) # Year, short version, without century

25

In [16]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%Y")) # Year, full version

2025

In [17]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%H")) # Hour 00-23

11

In [18]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%I")) # Hour 00-12

11

In [19]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%p")) # AM/PM

AM

In [20]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%M")) # Minute 00-59

44

In [21]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%S")) # Second 00-59

46

In [22]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%f")) # Microsecond 000000-999999

114565

In [23]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%z")) # UTC offset

In [24]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%Z")) # Timezone

In [25]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%j")) # Day number of year 001-366

023

In [26]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%U")) # Week number of year, Sunday as the first day of week, 00-53

03

In [27]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%W")) # Week number of year, Monday as the first day of week, 00-53

03

In [28]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c")) # Local version of date and time

Thu Jan 23 11:50:53 2025

In [29]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%x")) # Local version of date

01/23/25

In [30]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%X")) # Local version of time

11:52:37

In [31]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%%")) # A % character

%

In [32]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%G")) # ISO 8601 year

2025

In [33]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%u")) # ISO 8601 weekday (1-7)

4

In [34]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%V")) # ISO 8601 weeknumber (01-53)

04