# **Variables**

Variables are containers for storing data values.

**Creating Variables**

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
a = 10
y = "Hello"
print(a)
print(y)

10
Hello

In [ ]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.

x = 4       # x is of type int
x = "Emily" # x is now of type str
print(x)

Emily

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
a = int(5)    # x will be 3

b = str(5)    # x will be '3'

c = float(5)  # x will be 3.0

print(a)
print(b)
print(c)

5
5
5.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [ ]:
a = 10
y = "Hello"

print(type(a))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [ ]:
a = "Hello"   # is the same as

b = 'Hello'   # is the same

print(a)
print(b)

Hello
Hello

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
# This will create two variables:

a = 5

A = "Hello"   #A will not overwrite a
print(a)
print(A)

5
Hello

# **Variable Names**

**Variable Names**

A variable can have a short name (like a and b) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

* A variable name must start with a letter or the underscore character.           
* A variable name cannot start with a number.                               
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).                                                                    
* Variable names are case-sensitive (age, Age and AGE are three different variables).                                                                  
* A variable name cannot be any of the Python keywords.

In [ ]:
# Legal variable names:

myvar = "Hello"
my_var = "Hello"
_my_var = "Hello"
myVar = "Hello"
MYVAR = "Hello"
myvar2 = "Hello"

In [ ]:
# Illegal variable names:

2myvar = "Hello"
my-var = "Hello"
my var = "Hello"

SyntaxError: invalid decimal literal (<ipython-input-10-0a345a56d539>, line 3)

**Multi Words Variable Names**

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**

Each word, except the first, starts with a capital letter:

In [ ]:
myVariableName = "Hello"

**Pascal Case**

Each word starts with a capital letter:

In [ ]:
MyVariableName = "Hello"

**Snake Case**

Each word is separated by an underscore character:

In [ ]:
my_variable_name = "Hello"

# **Assign Multiple Values**

**Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

In [ ]:
a, b, c = "Aryan", "Kabir", "Priya"

print(a)
print(b)
print(c)

Aryan
Kabir
Priya

**One Value to Multiple Variables**

And you can assign the same value to multiple variables in one line:

In [ ]:
a = b = c = "Hello"

print(a)
print(b)
print(c)

Hello
Hello
Hello

**Unpack a Collection**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [1]:
names = ["Aryan", "Kabir", "Priya"]

a, b, c = names

print(a)
print(b)
print(c)

Aryan
Kabir
Priya

# **Output Variables**

**Output Variables**

The Python **print()** function is often used to output variables.

In [2]:
a = "welcome to the course"
print(a)

welcome to the course

In [4]:
# In the print() function, you output multiple variables, separated by a comma.

a = "Welcome to"
b = "the Course"

print(a,b)

Welcome to the Course

In [6]:
# You can also use the + operator to output multiple variables:

a = "Welcome to "
b = "the Course"

print(a + b)

# Notice the space character after "Welcome to ", without them the result would be "Welcome tothe Course".

Welcome to the Course

In [7]:
# For numbers, the + character works as a mathematical operator:

a = 10
b = 20

print(a+b)

30

In [8]:
# In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

a = 10
b = "the Course"

print(a + b)    # TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
# The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

a = 10
b = "Course"

print(a, b)

10 Course

# **Global Variables**

**Global Variables**

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [10]:
# Create a variable outside of a function, and use it inside the function.

x = "awesome"

def my_func():
  print("Python is " + x)

my_func()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [12]:
# Create a variable inside a function, with the same name as the global variable.

x = "Awesome"

def my_func():
  x = "Fantastic"
  print("Python is " + x)

my_func()

print("Python is " + x)

Python is Fantastic
Python is Awesome

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [13]:
# If you use the global keyword, the variable belongs to the global scope:

def my_func():
  global x
  x = "Fantastic"

my_func()

print("Python is " + x)

Python is Fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [14]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "Awesome"

def my_func():
  global x
  x = "Fantastic"

my_func()

print("Python is " + x)

Python is Fantastic