#Dictionary

Dictionaries are mutable data structures that allow you to store key-value pairs.

A dictionary is a collection which is ordered, changeable and do not allow duplicates.                                                                      

Dictionaries are written with curly brackets, and have keys and values.

In [2]:
d = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}    # Create and print a dictionary.
print (" 'Name': ", d['Name'])
print (" 'Age': ", d['Age'])
#print(d['Class'])

 'Name':  Zara
 'Age':  7

In [3]:
for a in d:
  print(a)

Name
Age
Class

In [4]:
for a in d:
  print(d[a])

Zara
7
First

In [5]:
for a in d:
  print(a)
  print(d[a])

Name
Zara
Age
7
Class
First

# Dictionary Function.

**Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets:

**get()**

In [6]:
n = d.get("Name")
print(n)

Zara

In [7]:
n = d['Name']
print(n)

Zara

**Keys()**                                            
The keys() method will return a list of all the keys in the dictionary.

In [8]:
#d.keys()

n = d.keys()
print(n)

dict_keys(['Name', 'Age', 'Class'])

In [9]:
for n in d.keys():
  print(n)

Name
Age
Class

**values()**

The values() method will return a list of all the values in the dictionary.

In [10]:
#d.values()

n = d.values()
print(n)

dict_values(['Zara', 7, 'First'])

In [11]:
for n in d.values():
  print(n)

Zara
7
First

**Items()**

In [12]:
#d.items()

n = d.items()
print(n)

dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])

In [13]:
for n in d.items():
  print(n)

('Name', 'Zara')
('Age', 7)
('Class', 'First')

**Change Values**

You can change the value of a specific item by referring to its key name:

In [19]:
d['Age'] = 8; # update existing entry
d['School'] = "DPS School"; # Add new entry

print ("'Age': ", d['Age'])
print ("'School': ", d['School'])

'Age':  8
'School':  DPS School

In [20]:
d

{'Name': 'Zara', 'Class': 'First', 'Age': 8, 'School': 'DPS School'}

**Removing Items**

**pop() & del()**

The pop() & del() method removes the item with the specified key name:

In [21]:
# d.pop("Age")
# print(d)

del d["Age"]
print(d)

{'Name': 'Zara', 'Class': 'First', 'School': 'DPS School'}

In [ ]:
# The del keyword can also delete the dictionary completely:

# del d
# print (d)

**clear()**                                                                   
The clear() method empties the dictionary:

In [ ]:
# d.clear()
# print(d)

**popitem()**

The popitem() method removes the last inserted item

In [22]:
d.popitem()
print(d)

{'Name': 'Zara', 'Class': 'First'}

**Copy a Dictionary**

**copy()**

In [23]:
d = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
d1 = d.copy()
print(d1)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [24]:
# Make a copy of a dictionary with the dict() function:

d = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
d1 = dict(d)
print(d1)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

**Nested Dictionaries**

A dictionary can contain dictionaries, this is called nested dictionaries.

In [25]:
myfam = {
     "child1" : {
    "name" : "Emily",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print (myfam)

{'child1': {'name': 'Emily', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [27]:
# Print the name of child 2:

print(myfam['child2']['name'])

Tobias

In [31]:
# Print the Update name of child 2:

myfam['child2']['name'] = 'Tom'
print(myfam['child2']['name'])

Tom

**Loop Through Nested Dictionaries**

You can loop through a dictionary by using the **items()** method like this:

In [32]:
for x,y in myfam.items():
  print(x,y)

child1 {'name': 'Emily', 'year': 2004}
child2 {'name': 'Tom', 'year': 2007}
child3 {'name': 'Linus', 'year': 2011}

In [34]:
# Loop through the keys and values of all nested dictionaries:

for x, obj in myfam.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y] )

child1
name: Emily
year: 2004
child2
name: Tom
year: 2007
child3
name: Linus
year: 2011



---



---

#Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.

Method and	Description -->

clear() -	Removes all the elements from the dictionary.                                  
copy() -	Returns a copy of the dictionary.                                      
fromkeys() - Returns a dictionary with the specified keys and value.             
get()	- Returns the value of the specified key.                                  
items()	- Returns a list containing a tuple for each key value pair.             
keys() - Returns a list containing the dictionary's keys.                        
pop() -	Removes the element with the specified key.                              
popitem() -	Removes the last inserted key-value pair.                            
setdefault() - Returns the value of the specified key. If the key does not exist: insert the key, with the specified value.                                 
update() - Updates the dictionary with the specified key-value pairs.            
values() - Returns a list of all the values in the dictionary.


---


---