# **Python Strings**

**Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print('Hello')
print("Hello")

Hello
Hello

**Quotes Inside Quotes**

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [ ]:
print("Double quotes are fine too!")
print('Single quotes are fine too!')
print('You can use "quotes" inside single quotes!')
print("You can use 'quotes' inside double quotes!")

Double quotes are fine too!
Single quotes are fine too!
You can use "quotes" inside single quotes!
You can use 'quotes' inside double quotes!

**Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Hello

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [ ]:
# You can use three double quotes:

a = """Last night as I was sleeping,
I dreamt—marvelous error!—
that I had a beehive
here inside my heart.
And the golden bees
were making white combs
and sweet honey
from my old failures."""
print(a)

Last night as I was sleeping,
I dreamt—marvelous error!—
that I had a beehive
here inside my heart.
And the golden bees
were making white combs
and sweet honey
from my old failures.



*Note: in the result, the line breaks are inserted at the same position as in the code.*

In [ ]:
# Or three single quotes:

b = '''Last night as I was sleeping,
I dreamt—marvelous error!—
that a fiery sun was giving
light inside my heart.
It was fiery because I felt
warmth as from a hearth,
and sun because it gave light
and brought tears to my eyes.'''
print(b)

Last night as I was sleeping,
I dreamt—marvelous error!—
that a fiery sun was giving
light inside my heart.
It was fiery because I felt
warmth as from a hearth,
and sun because it gave light
and brought tears to my eyes.

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [1]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, Python!"
print(a[1])

e

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [2]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

**String Length**

To get the length of a string, use the len() function.

In [3]:
# The len() function returns the length of a string:

a = "Hello, Python!"
print(len(a))

14

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [4]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [5]:
# Print only if "free" is present:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

**Check if NOT**

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [6]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an if statement:

In [7]:
# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# **Slicing Strings**

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [8]:
# Get the characters from position 2 to position 5 (not included):    Note: The first character has index 0.
b = "Hello, Python!"
print(b[1:5])

ello

**Slice From the Start**

By leaving out the start index, the range will start at the first character:

In [9]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

By leaving out the end index, the range will go to the end:

In [10]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [13]:
# From: "o" in "World!" (position -5)

# To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

# **Modify Strings**
Python has a set of built-in methods that you can use on strings.

**Upper Case**

In [1]:
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Lower Case**

In [2]:
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [3]:
# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, Python! "
print(a.strip())

Hello, Python!

**Replace String**

The replace() method replaces a string with another string:

In [5]:
a = "Hello, Python!"
print(a.replace("H","J"))

Jello, Python!

**Split String**

The split() method returns a list where the text between the specified separator becomes the list items.

In [6]:
# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, Python!"
print(a.split(","))

['Hello', ' Python!']

# **String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [7]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "Python"
c = a + b
print (c)

HelloPython

In [8]:
# To add a space between them, add a " ":

a = "Hello"
b = "Python"
c = a + " " + b
print (c)

Hello Python

# **String Format**

**String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [11]:
age = 30
txt = "My name is Shri, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method!

**F-Strings**

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [12]:
# Create an f-string:
age = 30
txt = f"My name is Shri, I am {age}"
print(txt)

My name is Shri, I am 30

**Placeholders and Modifiers**

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [13]:
# Add a placeholder for the price variable:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [14]:
# Display the price with 2 decimals:

price = 61
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 61.00 dollars

A placeholder can contain Python code, like math operations:

In [15]:
# Perform a math operation in the placeholder, and return the result:

txt = f"The price is {81 * 59} dollars"
print(txt)

The price is 4779 dollars

# **Escape Character**

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [17]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (<ipython-input-17-af54786ae7c9>, line 3)

To fix this problem, use the escape character \":

In [18]:
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [19]:
txt = "We are the so called \'Vikings\' from the north."  # Single quote
print(txt)

We are the so called 'Vikings' from the north.

In [20]:
txt = "We are the so called \Vikings from the north."   # Backslash
print(txt)

We are the so called \Vikings from the north.

In [21]:
txt = "We are the so called \nVikings from the north."   # New line
print(txt)

We are the so called
Vikings from the north.

In [22]:
txt = "We are the so called \rVikings from the north."   # Carriage return
print(txt)

Vikings from the north.

In [23]:
txt = "We are the so called \tVikings from the north."   # Tab
print(txt)

We are the so called 	Vikings from the north.

In [25]:
txt = "We are the so called \b Vikings from the north."   # Backspace
print(txt)

We are the so called  Vikings from the north.

In [27]:
txt = "We are the so called \fVikings from the north."   # Form feed
print(txt)

We are the so called Vikings from the north.

In [29]:
txt = "We are the so called \ooo Vikings from the north."   # Octal value
print(txt)

We are the so called \ooo Vikings from the north.

In [30]:
txt = "We are the so called \xhh Vikings from the north."   # Hex value
print(txt)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 21-22: truncated \xXX escape (<ipython-input-30-136a1eed88be>, line 1)

# **String Methods**

Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.

capitalize() -	Converts the first character to upper case

casefold() -	Converts string into lower case

center() -	Returns a centered string

count()	- Returns the number of times a specified value occurs in a string

encode() -	Returns an encoded version of the string

endswith() -	Returns true if the string ends with the specified value

expandtabs() -	Sets the tab size of the string

find() -	Searches the string for a specified value and returns the position of where it was found

format() -	Formats specified values in a string

format_map() -	Formats specified values in a string

index() -	Searches the string for a specified value and returns the position of where it was found

isalnum() -	Returns True if all characters in the string are alphanumeric

isalpha() -	Returns True if all characters in the string are in the alphabet

isascii() -	Returns True if all characters in the string are ascii characters

isdecimal() -	Returns True if all characters in the string are decimals

isdigit() -	Returns True if all characters in the string are digits

isidentifier() -	Returns True if the string is an identifier

islower()	- Returns True if all characters in the string are lower case

isnumeric() -	Returns True if all characters in the string are numeric

isprintable() -	Returns True if all characters in the string are printable

isspace()	- Returns True if all characters in the string are whitespaces

istitle() -	Returns True if the string follows the rules of a title

isupper()	- Returns True if all characters in the string are upper case

join() -	Joins the elements of an iterable to the end of the string

ljust()	- Returns a left justified version of the string

lower() -	Converts a string into lower case

lstrip() -	Returns a left trim version of the string

maketrans() -	Returns a translation table to be used in translations

partition()	- Returns a tuple where the string is parted into three parts

replace()	- Returns a string where a specified value is replaced with a
specified value

rfind() -	Searches the string for a specified value and returns the last position of where it was found

rindex() -	Searches the string for a specified value and returns the last position of where it was found

rjust() -	Returns a right justified version of the string

rpartition() -	Returns a tuple where the string is parted into three parts

rsplit() -	Splits the string at the specified separator, and returns a list

rstrip() -	Returns a right trim version of the string

split()	- Splits the string at the specified separator, and returns a list

splitlines() -	Splits the string at line breaks and returns a list

startswith() -	Returns true if the string starts with the specified value

strip()	 - Returns a trimmed version of the string

swapcase() -	Swaps cases, lower case becomes upper case and vice versa

title()	- Converts the first character of each word to upper case

translate() -	Returns a translated string

upper()	- Converts a string into upper case

zfill()	- Fills the string with a specified number of 0 values at the beginning



---



---