# **Python Operators**

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [1]:
print(20 + 20)

40

# **Python Arithmetic Operators**

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

     Operator 	   Name 	      Example
        + 	     Addition 	     x + y
        - 	    Subtraction 	   x - y
        * 	   Multiplication 	 x * y
        / 	     Division 	     x / y
        % 	     Modulus 	      x % y
        ** 	   Exponentiation 	x ** y
       // 	   Floor division 	 x // y

In [2]:
a = 10
b = 20
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)  # The modulus operator, also known as the remainder operator, is a mathematical operation that returns the remainder when one number is divided by another
print(a ** b) # This operator raises the left operand (base) to the power of the right operand (exponent). It is also called the power operator or exponent operator.
print(a // b) # This operator will divide the first argument by the second and round the result down to the nearest whole number,

30
-10
200
0.5
10
100000000000000000000
0

# **Assignment Operator in Python**

An assignment operator in Python is used to assign values or expressions to the left-hand side operand. These operators assign the value of the right-hand side operand to the left-hand side operand.

The symbol of the Python assignment operator is “=”, which is used in assignment expressions and statements in Python programming.

Operator    |   Name        |       Description       |      Syntax

=


Assignment Operator


It assigns the value of the right-hand side expression to the operand on the left-hand side.


a=b+c


---



+=


Addition Assignment Operator


This operator adds the left and right operands of the expression and then assigns the calculated value to the left side operand.


a+=b or a=a+b


---



-=


Subtraction Assignment Operator


It subtracts the right-hand side operand of the expression from the left operand and then assigns the calculated value to the left operand. It returns true if both operands are equal.


a-=b or a=a-b


---



*=


Multiplication Assignment Operator


It multiplies the left operand by the right operand and then assigns the calculated value to the left-hand operand.


a*=b or a=a*b


---



/=


Division Assignment Operator


It divides the left operand by the right operand and then assigns the resultant value to the left-hand operand.


a/=b or a=a/b


---



%=


Modulus Assignment Operator


It divides the left operand by the right operand and then assigns the reminder value to the left-hand operand.


a%=b or a=a%b


---



**=


Exponentiation Assignment Operator


This operator calculates the exponent and raises the left-hand side operand to the power of the right operand, and assigns the resultant value to the left-side value.


a ** = b or a = a ** b


---



//=


Floor Division Assignment Operator


It divides the left operand by the right operand and then assigns the quotient value (in the form of an integer) to the left operand.


a//=b or a=a//b


---



&=


Bitwise AND Assignment Operator


This operator performs the bitwise operation on the left and right operands and then assigns the resultant value to the left operand.


a&=b or a=a&b


---



|=


Bitwise OR Assignment Operator


This operator performs the bitwise OR operation on left and right operands and assigns the resultant value to the left operand.


a|=b or a=a|b


---



^=


Bitwise XOR Assignment Operator


This operator performs the bitwise XOR operation on the left and right operands and then assigns the resultant value to the left operand.


a^=b or a=a^b


---



  >>=


Bitwise Right Shift Assignment Operator


This operator right-shifts the left operand by the specified position and then assigns the resultant value to the left operand.


a>>=b or a=a>>b


---



<<=


Bitwise Left Shift Assignment Operator


This operator left-shifts the left operand by the specified position and assigns the resultant value to the left operand.


a<<=b or a=a<<b


---

In [4]:
# =

a = 10

print(a)

10

In [21]:
# x+=y

x = 10
y = 20

x += y

print(x)

30

In [22]:
# OR

x = 2
y = 1
y += x        #y = y + x
print("x = ", x , "and y = ", y)

x =  2 and y =  3

In [24]:
# x-=y or x=x-y

x = 2
y = 1
y -= x        #y = y - x
print("x = ", x , "and y = ", y)
print(y)

x =  2 and y =  -1
-1

In [26]:
# x * = y or x = x * y

x = 2
y = 3
y *= x        #y = y * x
print("x = ", x , "and y = ", y)

x =  2 and y =  6

In [27]:
# x / = y or x = x / y

x = 2
y = 3
y /= x        #y = y / x
print("x = ", x , "and y = ", y)

x =  2 and y =  1.5

In [29]:
# x % = y or x = x % y

x = 2
y = 3
y %= x        #y = y % x
print("x = ", x , "and y = ", y)

x =  2 and y =  1

In [30]:
# x ** = y or x = x ** y

x = 2
y = 3
y **= x        #y = y ** x
print("x = ", x , "and y = ", y)

x =  2 and y =  9

In [28]:
# x // = y or x = x // y

x = 2
y = 3
y //= x        #y = y // x
print("x = ", x , "and y = ", y)

x =  2 and y =  1

In [31]:
# x&=y or x=x&y

x = 10  # 10 in binary is 1010
y = 5   # 5 in binary is 0101
x &= y  # Result: 0000 (0 in decimal)
print("Result after &amp;= operation:", x)

Result after &amp;= operation: 0

In [32]:
# x|=y or x=x|y

x = 10  # 10 in binary is 1010
y = 5   # 5 in binary is 0101
x |= y  # Result: 1111 (15 in decimal)
print("Result after |= operation:", x)

Result after |= operation: 15

In [33]:
# x^=y or x=x^y

x = 10  # 10 in binary is 1010
y = 5   # 5 in binary is 0101
x ^= y
print("Result after ^= operation:", x)

Result after ^= operation: 15

In [36]:
# x>>=y or x=x>>y

x = 10  # 10 in binary is 1010
y = 5   # 5 in binary is 0101
x >>= y
print("Result after >>= operation:", x)

Result after >>= operation: 0

In [37]:
# x<<=y or x=x<<y

x = 10  # 10 in binary is 1010
y = 10   # 5 in binary is 0101
x <<= y
print("Result after <<= operation:", x)

Result after <<= operation: 10240

# **Comparison Operators in Python**

Python comparison operators, or relational operators, are symbols used to compare two values and evaluate the relationship between the two. Relational and comparison operators are always the same regardless of the Python version. Based on the comparison, they allow us to test certain conditions and return a Boolean value, True or False.

Operator   |   Name |   Description    |  Syntax

---



==


Equal to Operator


Returns True if both operand values are equal.


a == b

---



!=


Not Equal to Operator


Returns True if operands are not equal.


a != b

---



.>


Greater than


Returns True if the left operand is greater than the right operand.


a > b

---



<

Less than


Returns True if the left operand is less than the right operand value.


a < b

---




.>=


Greater than or Equal to


Returns True if the left operand value is greater than or equal to the right.  


a >= b


---



<=


Less than or Equal to


Returns True if the left operand is less than or equal to the right operand.


a <= b

---

In [38]:
# a == b

a = 10
b = 20

print(a == b)

False

In [39]:
# OR

a = 6
b = 6
c = 8

print(a == b)
print(a == c)

True
False

In [40]:
# a != b

a = 10
b = 20
c = 10

print(a != b)
print(a != c)

True
False

In [41]:
# a < b

a = 10
b = 20

print(a < b)

True

In [42]:
# a > b

a = 10
b = 20

print(a > b)

False

In [45]:
# a >= b

a = 30
b = 20

print(a >= b)

True

In [46]:
# a <= b

a = 30
b = 20

print(a <= b)

False

# **Logical Operators in Python**

Logical operators in Python combine conditional statements so you can perform different operations based on given conditions. They are used to carry out logical operations, returning Boolean values.

Along with arithmetic operators, logical operators include special symbols that you use to compute values and variables. There are three types of Python logical operators:

*    Logical AND operator

*   Logical OR operator

*    Logical NOT operator

Operator    |  Description  |  Syntax |  Example

---

AND


Returns True if both the operands are true; else returns False.


a and b


a>6 and a>11

---

OR


Returns True if at least one operand is true. If both operands are False, the result is False.


a or b


a<6 or a>11

---

NOT


Returns True if the operand is false


not a


not(a>6 and a> 11)

---

**Logical AND Operator Example**

In [47]:
n = 4
n > 2 and n < 7

True

In [49]:
n < 2 and n < 7

False

The example checks whether the given conditions are true or false. If the first two conditions are true, it returns True, but if only one of the second two conditions is true, it returns False.

Truth Table for the Logical AND Operator

The following truth table shows all the possible combinations of operands and their corresponding output.

     Operand 1        Operand 2               Result
     
      True              True                  True

      True             False                  False

      False            True                   False

      False            False                  False

 **Logical OR Operator**

Here are the possible conditions that can occur in the OR operator:

*  If one condition is True and the second condition is False, it returns True.
* If both conditions are True, it returns True.
*  If both conditions are False, it returns False.

In [50]:
n = 8
n < 4 or n < 13

True

In [51]:
n < 4 or n < 7

False

The first two conditions are true, so it returns True. However, the second two conditions are False, so the output is False.

Truth Table for the Logical OR Operator

The following truth table demonstrates all the possible combinations of operands and corresponding outputs.

     Operand 1       Operand 2          Result  

     True              True             True

     True              False            True

     False             True             True

     False             False           False

**Logical NOT Operator**

The NOT operator in Python works with a single Boolean value. It inverts the value of the operand. We use it to invert the logic of an expression. So, if the operand is True, it returns the Boolean value False; if the operand is False, it returns the Boolean value True.

Here are the possible conditions that can occur in the NOT operator:

* If the condition is False, the resultant value is True.
* If the condition is True, the resultant value is False.

Logical not operator in python

In [52]:
not True

False

In [53]:
not False

True

We can see that the NOT operator changes True to False and False to True.

**Order of Evaluation of Logical Operators**

In [57]:
a = True
b = False
c = True

result = not a or b and c
print(result)

False

# **Python Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

     Operator  |            	Description                        | 	Example
        is  	  Returns True if both variables are the same object 	x is y
       is not   Returns True if both variables are not the same object  x is not y

In [58]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [59]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# **Python Membership Operators**

Membership operators are used to test if a sequence is presented in an object:

      Operator  |       	Description 	           |                                                Example
        in  	   Returns True if a sequence with the specified value is present in the object 	     x in y
       not in 	Returns True if a sequence with the specified value is not present in the object 	x not in y

In [60]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [61]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# **Python Bitwise Operators**

Bitwise operators are used to compare (binary) numbers:

    Operator    Name 	         Description                     	Example
      &  	   AND 	Sets each bit to 1 if both bits are 1 	     x & y
      | 	    OR 	 Sets each bit to 1 if one of two bits is 1 	x | y
      ^ 	   XOR 	Sets each bit to 1 if only one of two bits is 1   x ^ y
      ~ 	   NOT 	Inverts all the bits 	                          ~x
      << 	Zero fill left shift 	Shift left by pushing zeros in from the right and let the leftmost bits fall off 	x << 2
      >> 	Signed right shift 	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off 	x >> 2

In [63]:
print(6 & 3)

# The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

# 6 = 0000000000000110
# 3 = 0000000000000011
# --------------------
# 2 = 0000000000000010
# ====================

# Decimal numbers and their binary values:
# 0 = 0000000000000000
# 1 = 0000000000000001
# 2 = 0000000000000010
# 3 = 0000000000000011
# 4 = 0000000000000100
# 5 = 0000000000000101
# 6 = 0000000000000110
# 7 = 0000000000000111

2

In [66]:
print(6 | 3)


# The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

# 6 = 0000000000000110
# 3 = 0000000000000011
# --------------------
# 7 = 0000000000000111

7

In [67]:
print(6 ^ 3)


# The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

# 6 = 0000000000000110
# 3 = 0000000000000011
# --------------------
# 5 = 0000000000000101

5

In [68]:
print(~3)

# The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

# Inverted 3 becomes -4:
#  3 = 0000000000000011
# -4 = 1111111111111100

# Decimal numbers and their binary values:
#  4 = 0000000000000100
#  3 = 0000000000000011
#  2 = 0000000000000010
#  1 = 0000000000000001
#  0 = 0000000000000000
# -1 = 1111111111111111
# -2 = 1111111111111110
# -3 = 1111111111111101
# -4 = 1111111111111100

-4

In [69]:
print(3 << 2)

# The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

# If you push 00 in from the left:
#  3 = 0000000000000011
# becomes
# 12 = 0000000000001100

# Decimal numbers and their binary values:
#  0 = 0000000000000000
#  1 = 0000000000000001
#  2 = 0000000000000010
#  3 = 0000000000000011
#  4 = 0000000000000100
#  5 = 0000000000000101
#  6 = 0000000000000110
#  7 = 0000000000000111
#  8 = 0000000000001000
#  9 = 0000000000001001
# 10 = 0000000000001010
# 11 = 0000000000001011
# 12 = 0000000000001100

12

In [70]:
print(8 >> 2)

# The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

# If you move each bit 2 times to the right, 8 becomes 2:
#  8 = 0000000000001000
# becomes
#  2 = 0000000000000010

2

# **Operator Precedence**

Python Operators Precedence Rule - PEMDAS

Operator precedence in Python adheres to the PEMDAS rule to compute arithmetic expressions. PEMDAS stands for:

P – Parentheses

E – Exponents

M – Multiplication

D – Division

A – Addition

S – Subtraction

Using this acronym as a mnemonic, you can understand the order of precedence. Familiarity with this rule will help you avoid errors while writing Python code. It ensures that operations are performed hierarchically, which mitigates errors and avoids ambiguity, especially while writing complex expressions.

In [75]:
# In the following code, the interpreter will execute the if block even if the age is 0 because the logical AND has higher precedence than the logical OR operator.

name = "Ram"
age = 0
if name == "Ram" or name == "Shyam" and age >= 7:
    print("Good Morning.")
else:
    print("Good Night")

Good Morning.

In [76]:
# Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:
print((6 + 3) - (6 + 3))

0

In [77]:
# Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:
print(100 + 5 * 3)

115

     Operator 	          Description
       () 	              Parentheses
       ** 	             Exponentiation
     +x  -x  ~x 	   Unary plus, unary minus, and bitwise NOT
    *  /  //  % 	 Multiplication, division, floor division, and modulus
      +  - 	        Addition and subtraction
     <<  >> 	       Bitwise left and right shifts
       & 	          Bitwise AND
       ^ 	          Bitwise XOR
       | 	          Bitwise OR
       ==  !=  >  >=  <  <=  is  is not  in  not in  	Comparisons, identity, and membership operators
      not 	        Logical NOT
      and 	         AND
      or 	          OR

In [78]:
print((6 + 3) - (6 + 3))

# Parenthesis have the highest precedence, and need to be evaluated first.
# The calculation above reads 9 - 9 = 0

0

In [79]:
print(100 - 3 ** 3)

# Exponentiation has higher precedence than subtraction, and needs to be evaluated first.
# The calculation above reads 100 - 27 = 73

73

In [80]:
print(100 + ~3)

# Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
# The calculation above reads 100 + -4 = 96

96

In [81]:
print(100 + 5 * 3)

# Multiplication has higher precedence than addition, and needs to be evaluated first.
# The calculation above reads 100 + 15 = 115

115

In [82]:
print(100 - 5 * 3)

# Subtraction has a lower precedence than multiplication, and we need to calculate the multiplication first.
# The calculation above reads 100 - 15 = 85

85

In [83]:
print(8 >> 4 - 2)

# Bitwise right shift has a lower precedence than subtraction, and we need to calculate the subtraction first.
# The calculation above reads 8 >> 2 = 2

# More explanation:
# The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

# If you move each bit 2 times to the right, 8 becomes 2:
#  8 = 0000000000001000
# becomes
#  2 = 0000000000000010

2

In [84]:
print(6 & 2 + 1)

# Bitwise AND has a lower precedence than addition, and we need to calculate the addition first.
# The calculation above reads 6 & 3 = 2

# More explanation:
# The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

# 6 = 0000000000000110
# 3 = 0000000000000011
# --------------------
# 2 = 0000000000000010

2

In [85]:
print(6 ^ 2 + 1)

# Bitwise XOR has a lower precedence than addition, and we need to calculate the addition first.
# The calculation above reads 6 ^ 3 = 5

# More explanation:
# The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

# 6 = 0000000000000110
# 3 = 0000000000000011
# --------------------
# 5 = 0000000000000101

5

In [86]:
print(6 | 2 + 1)

# Bitwise OR has a lower precedence than addition, and we need to calculate the addition first.
# The calculation above reads 6 | 3 = 7

# More explanation:
# The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

# 6 = 0000000000000110
# 3 = 0000000000000011
# --------------------
# 7 = 0000000000000111

7

In [87]:
print(5 == 4 + 1)

# The "like" comparison has a lower precedence than addition, and we need to calculate the addition first.
# The calculation above reads 5 == 5 = True

True

In [88]:
print(not 5 == 5)

# The logical NOT operator has a lower precedence than "like" comparison, and we need to calculate the comparison first.
# The calculation above reads: not True = False

False

In [89]:
print(1 or 2 and 3)

# The and operator has a higher precedence than or, and we need to calculate the and expression first.
# The calculation above reads: 1 or 3 = 1

1

In [90]:
print(4 or 5 + 10 or 8)

# The or operator has a lower precedence than addition, and we need to calculate the addition first.
# The calculation above reads: 4 or 15 or 8 = 4

4

In [91]:
# Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right:

print(5 + 4 - 7 + 3)

5